<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474602912087-sjjmc0ag6f0if91jere1m639h0pomdtl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474602912087-sjjmc0ag6f0if91jere1m639h0pomdtl</string>
	<key>API_KEY</key>
	<string>AIzaSyB_CcYJxfa6B1W184UshIFsXk2afCgqQsM</string>
	<key>GCM_SENDER_ID</key>
	<string>474602912087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-c1d03</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-c1d03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474602912087:ios:f015945296f06b7ed5a612</string>
</dict>
</plist>